<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UTMO</title>
</head>
<body>
<div class="info">
        <p>Университет: {%  %} </p>
        <p>Ректор: {%  %}
        <p>Местоположение: {%  %} </p>
        <p>Кол-во административных подразделений: {%  %}</p>
        <p>Кол-во научно-образовательных подразделений: {%  %} </p>
        <p>Кол-во мегафакультетов: {%  %}</p>
        <p>Список достижений: {%  %}</p>
        <p>Кол-во факультетов:{%  %}</p>
        <p>Кол-во кафедр: {%  %}</p>
    </div>
</body>
</html>